body {
  padding: 50px;
  font: 16px sans-serif;
}

a {
  color: #00B7FF;
}

.full-size {
  font-size: 100%;
}

button {
  color: goldenrod;
  background: transparent;
  border: solid 3px gold;
}

button:hover {
  transform: scale(1.05, 1.05);
  color: darkblue;
  background: lightyellow;
  box-shadow: 4px 4px 2px lightgray;
  transition:
          scale 0.125s,
          color 0.125s,
          background 0.125s,
          box-shadow 0.125s;
}

.zone {
  border-radius: 12px;
  padding: 9px;
  margin: 6px;
  display: inline-block;
}

.half {
  width: 70%;
  min-width: 70%;
  max-width: 70%;
}

.blob {
  height: 20%;
  min-height: 20%;
}

.bordered {
  border-style: solid;
  border-width: 3px;
}

.edged {
  border-style: solid;
  border-width: 1px;
}

.blue {
  border-color: blue;
  transition: border-color 0.125s;
}

.green {
  border-color: darkgreen;
  transition: border-color 0.125s;
}

.bubble {
  color: darkblue;
  border-color: blue;
  transition:
          color 0.125s,
          border-color 0.125s;
}

.failed,
.red {
  color: red;
  border-color: darkred;
  transition:
          color 0.125s,
          border-color 0.125s;
}
